@import "../assets/vendor/css/normalize.css";
@import "../assets/vendor/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "./_font.css";
@import "../assets/vendor/css/animate.min.css";
:root {
  --font: "Source Sans Pro", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  border: none;
}
html,
body {
  overflow-y: scroll;
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: black;
}
a:hover {
  color: unset;
  text-decoration: none;
}
.container {
  max-width: 1300px;
}
.choose.container {
  margin-top: 30px !important;
}
/* popover */
.bs-popover-auto[x-placement^="top"] > .arrow::after,
.bs-popover-top > .arrow::after {
  bottom: 2px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: #032541;
}
.bs-popover-auto[x-placement^="top"],
.bs-popover-top {
  max-width: 536px;
  max-height: 200px;
  background-color: #032541;
}
@media screen and (max-width: 576px) {
  .bs-popover-auto[x-placement^="top"],
  .bs-popover-top {
    max-width: 97.45%;
    background-color: #032541;
  }
}
/* !popover */
.medium-zoom-overlay {
  z-index: 999;
}
*:focus {
  outline: none !important;
}
